# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the most popular languages that Data Scientists use are: 
1. Python
2. R language
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

| Data Science Tools  |
|----------|
| SELDON  |
| kubernets    |
| mleap    |

### Below are few examples of evaluating arithmetic expression in Python.

In [1]:
a = 10
b = 20
print(a+b)

30

In [2]:
x = 8
y = 4
print(x/y)

2.0

In [3]:
#This is a simple arithmetic expression to multiply then add integers .
a = (3*4)+5
print(a)

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used Libraries used by Data Scientists
- Data Science Tools
-  evaluation of Arithmetic Expressions in Python
- convert minutes to hours in Python

## Author
Anushka Kurandale